matplotlib
numpy
pandas
scipy
requests
scikit-learn
tqdm
pytorch-lightning>=2
wandb
python-dotenv
mysql-connector-python
fastapi
uvicorn[standard]
tensorboard
tensorboardX
# pickle

# networkx
# graphtools # Installation instruction https://git.skewed.de/count0/graph-tool/-/wikis/installation-instructions#windows
# igraph
# RAPIDS
# cudf